<p id="notice"><%= notice %></p>

<p>
  <strong>現在時刻:</strong>
  <%= @now %>
</p>

<p>
  <strong>ID:</strong>
  <%= @diary.id %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= @diary.body %>
</p>

<p>
  <strong>登録日時:</strong>
  <%= @diary.created_at %>
</p>

<p>
  <strong>更新日時:</strong>
  <%= @diary.updated_at %>
</p>


<%= link_to '編集', edit_diary_path(@diary) %> |
<%= link_to '削除', @diary, method: :delete, data: {confirm: "#{@diary.title}を削除します。よろしいですか？"} %> |
<%= link_to '戻る', diaries_path %>
