<!DOCTYPE html>
<html>
  <head>
    <title>WeeklyReports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer><small>&copy; copyright 2018 Hogehoge CO.LTD</small></footer>
</html>
