<!DOCTYPE html>
<html>
  <head>
    <title>WeeklyReports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='contents'>
      <%= yield %>
    </div>

    <footer id='hige'>
      &copy; copyright 2018 Hogehoge CO.LTD
    </footer>
  </body>

</html>
