<!DOCTYPE html>
<html>
  <head>
    <title>WeeklyReports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user.present? %>
      <div id="user-info">
        <%= @current_user.name %> さん
        <%= link_to  "sign_out", logout_path, method: :delete %>
      </div>
    <% else %>
      <%= link_to  "sign_in", login_path %>      
      <%= link_to  "sign_up", new_user_path %>      
    <% end %>
    <div id='contents'>
      <%= yield %>
    </div>

    <footer id='hige'>
      &copy; copyright 2018 Hogehoge CO.LTD
    </footer>
  </body>

</html>
